html{
    min-height: 100%;
}
html:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: url(../images/background_logo.png) center center no-repeat;
    background-size: contain;
    height: 800px;
    width: 509px;
    z-index: -1;
}
.color-text-blue{
    color: #02AAB0;
}
.field ul li {
    color: #f14668;
    display: block;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}
.background-blue{
    background-color:#02AAB0 ;
}
.color-text-green{
    background-color: #00DB56;
}


/* Formulaires type date */
#trip_starting_date_date, #trip_starting_date_time {
    display: inline-block;
    margin-right: 1rem;
}
.form-date select {
    align-items: center;
    border: 1px solid transparent;
    box-shadow: none;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(0.5em - 1px) 2.5em calc(0.5em - 1px) calc(0.75em - 1px);
    position: relative;
    vertical-align: top;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    max-width: 100%;
    outline: 0;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 0.375em;
    color: #363636;
    margin-right: 4px;
}

#trip_starting_date_time_hour, #trip_starting_date_time_minute {
    margin: 0 5px;
}
#map { height: 300px; }