html{
    overflow: hidden;
    min-height: 100%;
}
html:after {
    content: "";
    position: absolute;
    bottom: -120px;
    right: -80px;
    background: url(../images/background_logo.png) center center no-repeat;
    background-size: contain;
    height: 500px;
    width: 307px;
}
