<form class="card-footer-item" method="post" action="{{ path('publish_trip', {'id': trip.id}) }}" onsubmit="return confirm('Voulez-vous vraiment publier cet événement ?');">
    <span>
        <button>Publier</button>
    </span>
</form>