<form class="card-footer-item" method="post" action="{{ path('register_user_trip', {'id': trip.id}) }}" onsubmit="return confirm('Voulez-vous vraiment vous inscrire à cet événement?');">
    <span>
        <button>S'inscrire</button>
    </span>
</form>
