<form class="card-footer-item" method="post" action="{{ path('unsubscribe_user_trip', {'id': trip.id}) }}" onsubmit="return confirm('Voulez-vous vraiment vous désinscrire à cet événement?');">
    <span>
        <button>Se désinscrire</button>
    </span>
</form>