{% extends 'base.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}
{% block meta_title %}Modifier une sortie{% endblock %}

{% block body %}
    {{ include('trip/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('trip_index') }}">back to list</a>

    {{ include('trip/_delete_form.html.twig') }}
{% endblock %}
