{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}
{% block meta_title %}Liste des villes{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Option</th>
        </tr>
        </thead>
        <tbody>
    {% for city in cities %}
        <tr>

            <td>{{ city.name }}</td>
            <td><a href="deleteCity/{{ city.id }}">Supprimer</a></td>

        </tr>
    {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('new_city') }}">Ajouter une ville</a>
{% endblock %}